@tailwind base;
@tailwind components;
@tailwind utilities;

.imgwidth{
    width:50%;
}
.logos{
    display: flex;
    justify-content:space-between;
    padding:3%;

}
.blop{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    text-align: center;
}

.pt-4{
    padding-top: 20%;
}

.items center{
    display: flex;
    text-align: center;
}
.containt{
    padding: 0 7%;
    width: 100%;
    word-break: break-all;
}
img,
video{
    border-radius: 10px;
}

.hidden3{
    visibility: visible;
}
@media(min-width:768px){
    .hidden3{
        visibility: hidden;
    }
    .padding-left{
        padding-left: 7%;
    }
}
.mt-10{
    margin-top: 250%;
}
.hidden4{
    visibility: hidden;
}
@media(min-width:1024px){
    .hidden4{
        visibility: visible;
    }
    .hidden5{
        visibility: hidden;
    }
    .pl-11{
        padding-left: 11%;
    }
    .p-0{
        padding: 0;
    }
  }
.topResponse{
  display: flex;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.blockResponse {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}
#usernameResponse{
  padding-top: 2%;
}
.dateResponse{
  padding-left: 2%;
}
textarea{
width: 100%;
padding-right: 5%;
}
.label-file {
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
}
.label-file:hover {
  color: #25a5c4;
}

.input-file {
  display: none;
}

